*{
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    background-color: rgb(9, 8, 20);
    
}
/*-----------------------------------------------
   Base Elements Styles
   -----------------------------------------------*/
body{
   
   font-size: 15px;
    padding: 0;
    margin: 0 auto;
    color: rgb(194, 223, 231);
    max-width: 1024px;
    
}
p{
   font-family: 'Lora', serif;
   letter-spacing: 1px;
   font-weight: 400;
}
   img{
   width: 400px;
   padding: 0;
   width: 100%;
}
ul{
   list-style: none;
   padding-left: 0;
}
li,a{
   text-decoration: none;
   color: rgb(194, 223, 231);
   font-weight: 400;
}
li,a:hover{
   color: rgb(48, 63, 92);
}
nav {
   letter-spacing: .05em;
   padding: 25px;
 }
 .main-nav{
    margin: 0 auto;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
   
 }
 h1, .top-nav {
   text-align: center;
 }
 h2{
    text-align:center;
    padding: 5% 0;
    color: rgb(159, 67, 234);
 }
 h3{
    color: rgb(159, 67, 234);
 }
 
 /* .top-nav, .top-nav li {
   width: 100%;
 } */
 .top-nav {
   margin-top: 30px;
 }
 
 .top-nav li {
   padding: 10px 0;
   margin: 5px auto;
   background-color: rgb(16, 12, 69);
 }
 
 .top-nav a {
   text-transform: uppercase;
 }
 .bio{
    display: flex;
    flex-direction: column;
 }
 
  /*-----------------------------------------------
   Base Layout Styles
-----------------------------------------------*/

.container1{
   border-bottom: 2px solid rgba(69, 147, 236, 0.7);
   padding-bottom: 30px;
   margin: 0 auto;
   text-align: center;
    max-width: 1100px;
    padding: 10px;
    
}
.container2{
   border-bottom: 2px solid rgba(69, 147, 236, 0.7);
   padding-bottom: 30px;
   margin: 0 auto;
   text-align: center;
}
.col {
   margin: 10px;
   min-height: 250px;
   text-align: center;
   letter-spacing: 1px;
   padding-top: 5px;
 }
 .skills{
    padding-top: 3%;
    padding-bottom: 1%;
 }
  .col3{
     width: 200px;
  }
  .container2{
     display: flex;
     flex-wrap: wrap;
    justify-content: center;
  }
  .col-skills{
   margin: 10px;
   min-height: 124px;
   text-align: center;
   letter-spacing: 1px;
   padding-top: 5px;
  }
.col2{
   padding: 0;
}
.contact{
   text-align: center;
   padding: 0 2%;
}
.info-contact{
   letter-spacing: 5px;
}
.contact{
   padding-bottom: 30px;
}
.bar{
   display: none;
}
.main-footer,
.bot-nav,
.bot-color
{
   background-color:rgb(16, 12, 69);
   border-top-left-radius: 36px;
   border-top-right-radius: 36px;
}
.bot-nav{
   display: flex;
   justify-content: space-between;
   font-weight: 500;
   padding: 10px 5%;
}


/*-----------------------------------------------
   Media Queries
-----------------------------------------------*/
@media (min-width: 768px) {
   .top-nav {
     margin-top: 0;
     background-color: rgb(16, 12, 69);
   }
   
 
   .top-nav li {
     display: inline-block;
     width: auto;
     margin-right: 15px;
   }
   h1,
   .main-nav,
   .top-nav ul {
     background-color: rgb(16, 12, 69);
   }
 
   .top-nav li:last-child {
     margin-right: 0;
   }
   li a:hover{
      color: rgba(69, 147, 236, 0.7);
      transition: all .3s ease 0s;
   }
   .bio{
      display: flex;
      flex-direction: row-reverse;
      margin:7% 0;
   
   }
   .bio-image{
      width: 300px;
      padding-left: 10px;
   }
   .bio p{
      margin-top:0;
   }
   img{
      width:353px;
   }
   .container1{
      display: flex;
      flex-wrap: wrap;
   }
   .col {
      flex-basis: calc(50% - 20px);
      /* border: 1px solid yellow; */
    }
    h2{
       text-align: center;
    }
    .top{
       display: none;
    }
   
   .bot-color{
      display: flex;
      justify-content: space-between;
   }
   .bar{
      display: inline-block;
      margin-left: 25px;
   }
   
 }
 @media (min-width: 1024px) {
   nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   top-nav, 
  .top-nav li {
    width: initial;
    margin-bottom: 0;
 }
 h2{
    margin: 0 auto;
 }
 img{
    width: 310px;
    padding:0;
 }
 .bio-image{
    width: 350px;
    padding-left: 20px;
 }
 .container1{
    padding-left: 0;
 }
 
 .col {
   flex-basis: calc(33.333% - 20px);
   /* border: 1px solid yellow; */
 }
 .col-skills{
   flex-basis: calc(25% - 20px);
 }

}